.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}